<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/love.css">
<body>
  <!--导航条开始-->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">那些人</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">鹊桥</a>
          </li>
          <li>
            <a href="#about">房屋</a>
          </li>
          <li>
            <a href="#contact">工作</a>
          </li>
          <li>
            <a href="#activity">活动</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#registModal"> <b>注册</b>
              </button>
            </a>
          </li>
          <li>
            <a href="#
              ">
              <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#loginModal"> <b>登录</b>
              </button>
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse --> </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-8">
   <div class="panel panel-default">
  <div class="panel-heading">
   <h3>发布交友信息</h3>  
  </div>
  <div class="panel-body">
    <div class="input-group input-group-lg">
  <span class="input-group-addon">标题</span>
  <input type="text" class="form-control" placeholder="必填内容">
</div>
<br>
<div class="input-group input-group-lg">
  <span class="input-group-addon">年龄</span>
  <input type="text" class="form-control" placeholder="必填内容">
</div>
<br>
<select class="form-control">
  <option>性别</option>
  <option>男</option>
  <option>女</option>
</select>
<br>
<h3><span class="label label-primary">自我描述（必填内容）</span></h3>
<textarea class="form-control" rows="10"></textarea>
<br>
<h3><span class="label label-primary">期望对方（必填内容）</span></h3>
<textarea class="form-control" rows="5"></textarea>
<br>
<h3><span class="label label-danger">无图无真相</span></h3>
 <input type="file">
 <br>
<div class="input-group input-group-lg">
  <span class="input-group-addon">联系方式</span>
  <input type="text" class="form-control" placeholder="必填内容">
</div>
<br>
<div class="row"> 
<div class="col-md-1"> </div>
<div class="col-md-8"> </div>
<div class="col-md-3">
  <button type="button" class="btn btn-warning btn-lg">取消</button>
  &nbsp&nbsp
<button type="button" class="btn btn-success btn-lg">发布</button>
 </div>
</div>
  </div>
</div>
      </div>
      <div class="col-md-3"> </div>
    </div>
  </div>
</body>
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</html>