body {
  min-height: 1000px;
  padding-top: 70px;
  background-color: #355370
}

#head-pic{
	background-color: #355370;
}

#tool-banner,#msg-detail{
	background-color: white;
}

#head-pic-detail{
	height: 70px;
	width: 70px;
}