<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>those_people</display-name>
  
  <!-- The listener who startup the springmvc with the web container-->
  <listener>  
     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>  
        
  <!-- The path for load the config file of springmvc -->
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/application-*.xml</param-value>
  </context-param>
  
  <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- The Servlet -->
	<servlet>
	<servlet-name>app</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Mapping for servlet -->
	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!--welcome page-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--error page-->
  <error-page>
  <error-code>404</error-code>
  <location>/StaticView/error/404.jsp</location>
  </error-page>
  <error-page>
  
  <error-code>500</error-code>
  <location>/StaticView/error/500.jsp</location>
  </error-page>
</web-app>